* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  text-align: center;
}

.cart {
  margin-top: 20px;
}
.cart-item {
  margin: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
